<h1>Listing places_repos</h1>

<table>
  <thead>
    <tr>
      <th>Url</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @places_repos.each do |places_repo| %>
      <tr>
        <td><%= places_repo.url %></td>
        <td><%= link_to 'Show', places_repo %></td>
        <td><%= link_to 'Edit', edit_places_repo_path(places_repo) %></td>
        <td><%= link_to 'Destroy', places_repo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Places repo', new_places_repo_path %>
