<h1>Listing shop_repos</h1>

<table>
  <thead>
    <tr>
      <th>Url</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @shop_repos.each do |shop_repo| %>
      <tr>
        <td><%= shop_repo.url %></td>
        <td><%= link_to 'Show', shop_repo %></td>
        <td><%= link_to 'Edit', edit_shop_repo_path(shop_repo) %></td>
        <td><%= link_to 'Destroy', shop_repo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Shop repo', new_shop_repo_path %>
