<%= form_for(@smb_user) do |f| %>
  <% if @smb_user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@smb_user.errors.count, "error") %> prohibited this smb_user from being saved:</h2>

      <ul>
      <% @smb_user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :display_name %><br>
    <%= f.text_field :display_name %>
  </div>
  <div class="field">
    <%= f.label :last_commented %><br>
    <%= f.datetime_select :last_commented %>
  </div>
  <div class="field">
    <%= f.label :last_merged %><br>
    <%= f.datetime_select :last_merged %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
