<h1>Listing s2w_repos</h1>

<table>
  <thead>
    <tr>
      <th>Url</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @s2w_repos.each do |s2w_repo| %>
      <tr>
        <td><%= s2w_repo.url %></td>
        <td><%= link_to 'Show', s2w_repo %></td>
        <td><%= link_to 'Edit', edit_s2w_repo_path(s2w_repo) %></td>
        <td><%= link_to 'Destroy', s2w_repo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New S2w repo', new_s2w_repo_path %>
