<!DOCTYPE html>
<html>
<head>
  <title>PR Monitor</title>
  <meta http-equiv="refresh" content="60" >
  <%= favicon_link_tag 'https://d2etbmjno9ik09.cloudfront.net/assets/favicon-8224f4af1dde44f84a612a3825f32850.png' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
